
.logo {
    width: 268px;
    height: 33px;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #00b39b;
}
li.nav-item {
    padding: 5px;
}
li.nav-item:hover {
    color: #00b39b;
    --bs-nav-link-hover-color:none;
}
ul.dropdown-menu.show:hover {
    color: #00b39b;
    --bs-dropdown-link-hover-color:none;
}
/*----*/
.block-1{
    text-align: center;
    margin: 30px;
}
h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 2.125rem;
    color: #00b39b;
    margin: 20px;
}
p{
    font-family: 'Roboto', sans-serif;
    line-height: 1.75;
    margin: 0.8em 0;
    color: #747474;
}

.block-2{
    margin: 30px;
}

.services-1{
    background: #00ccb1;
    border-radius: 10px;
    padding: 2em 2em 0;
    height: 375px;
}

.services-2{
    background: #3d83df;
    border-radius: 10px;
    padding: 2em 2em 0;
    height: 375px;
}

.services-3{
    background: #1b2734;
    border-radius: 10px;
    padding: 2em 2em 0;
    height: 375px;
}
.img-service{
    width: 12%;
}

.block-2 h1 {
    font-size: 1.725em;
    font-weight: 400;
    color: #fff;
    margin: 0.3em 0;
}

.block-2 h2 {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
}
.Select-Country {
    position: relative;
    margin-top: -50px;
    padding-left: 22px;
    border: 0;
    border: none;
}
select {
    background: none;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
option{
    color: black;
}

.block-3{
    margin: 50px;
}

ul.menu{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

li.menu{
    display: inline-block;
    padding: 5px 0 5px 5px;
    width: 25%;

} 
li{
    padding: 15px;
}

.menu a path {
    transition: all .2s ease 0s;
    fill: hsla(0,0%,67%,.7);
}
.menu a:hover path {
    fill: #00bfa5;
}

li.menu a {
    display: inline-block;
    padding: 5px 0;
}

.menu a svg {
    height: 25px;
    width: auto;
}


.tuotempo img{
    height: 20px;
}

.gipo img {
    height: 34px;
}

.my-dr img{
    width: 50%;
}

.block-4{
    background: #e5faf8;
    background-image: linear-gradient(-45deg,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
}
.row.block_4 {
    display: flex;
    justify-content: center;
}

.col-lg-4.header {
    position: relative;
    margin-top: 35px;
}
.col-lg-4.header:before {
    content: "";
    position: absolute;
    right: 1%;
    top: 40%;
    background: url('image/logo_seaction.png') no-repeat;
    width: 460px;
    height: 330px;
    pointer-events: none;
}

.para{
    font-size: .875em;
    font-weight: 400;
    line-height: 1.7142857143;
    margin: 20px;
}

.start{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
    height: 250px;
    text-align: center;
    padding: 15px;
    font-size: .8125em;
    display: table;
    margin: 20px 20px;
}


h3{
    font-size: 1.8461538462em;
    color: #00b39b;
    margin: 0.5em 0;
    font-weight: 300;
}

.verticale{
    margin-top: 40px;
}

.col-lg-3.offset-lg-1{
    margin-top: 25px;
}

.block-5{
    text-align: center;
    margin: 50px;
}

.slider-1{
    background: white;
    border: 2px solid rgba(0,0,0,.05);
    border-radius: 5px;
    display: block;
    text-decoration: none;
    box-shadow: 0 5px 10px 0 grey;
}

.image_slide{
    width: 100%;
}

.text-slide {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tittle{
    color: #747474;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    padding-top: 7px;
    font-weight: 700;
}
button {
    border: 0;
    border-radius: 5px;
    padding: 1.1666666667em 1.5em;
    background: #3d83df;
    font-family: 'Roboto', sans-serif;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: .75rem;
    text-align: center;
}
button:hover{
    background-color: blue;
}

.slider{
    padding: 10px;
}

.block-7{
    text-align: center;
    margin: 50px;
}

.block-7 h1{
    font-size: 2.1428571429em;
    color: #333;
    margin-bottom: 0.75em;
}

@media only screen and (max-width: 1199px) {
    .col-lg-4.header:before {
        content: none;
    }
    .col-lg-4.header {
        display: grid;
        align-content: center;
    }
    h1{
        text-align: center;
        font-size: 2.5em;
    }
    .para{
        text-align: center;
        font-size: 1em;
    }

}

@media only screen and (max-width: 991px){
    .block-2{
        text-align: center;
    }
    .col-lg-4.service {
        margin: 20px;
    }
    .start{
        display: block;
        height: none;
        margin: 15px;
    }
    .services-1{
        height: 290px;
    }
    .services-2{
        height: 290px;
    }
    .services-3{
        height: 290px;
    }

    .Select-Country {
        margin-top: none;
        padding-left: 0;
    }
    ul.menu{
        justify-content: center;
    }
}